body {
    font-size: 18px;
    color: white;
    background: url("../images/grey-background.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

#firstPhoto {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    min-width: 150px;
    min-height: 150px;
}

.linkPhoto {
    object-fit: contain;
    max-width: 33%;
    max-height: 33%;
}

#indexName {
    text-align: center;
    font-size: 2rem;
}

.indexContainer {
    height: 100vh;
}

.offsetRow {
    height: 10vh;
    display: none;
}

.pictureRow {
    height: 80vh;
}

.links {
    text-align: center;
}

.top {
    margin-top: 95px;
}

a {
    color: white;
}

.card-img-top {
    height: 250px;
    max-width: 300px;
}

.tech {
    margin: auto;
}

.portfolioDiv {
    box-sizing: content-box;
}

.card {
    background-color: transparent;
    border: none;
    max-width: 300px;
}

#aboutMePhoto {
    height: 50px;
    padding-right: 5px;
}

#gameScreen {
    height: 70%;
}

@media (min-width:245px) {
    .top {
        margin-top: 85px
    }

    
}

@media (min-width:768px) {
    .offsetRow {
        display: block;
    }

}