html, body, #wholeScreen {
    height: 100%;
}

body {
    font-family: 'Alegreya SC';
    font-size: 18px;
    color: #2BBBAD;
    text-shadow:
		-1px -1px 0 #424242,
		1px -1px 0 #424242,
		-1px 1px 0 #424242,
		1px 1px 0 #424242;
    background: url("../images/grey-background.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.jumbotron {
    background: rgba(0, 0, 0, 0);
    height: 20%;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

a {
    color: #2BBBAD;
    text-shadow:
		-1px -1px 0 #424242,
		1px -1px 0 #424242,
		-1px 1px 0 #424242,
        1px 1px 0 #424242;
}

#intro {
    text-align: center;
    margin: auto;
    width: 80%;
    margin-top: 15px;
}

button {
    text-align: center;
    background-color: #2BBBAD;
    font-size: 10%;
    margin: auto;
    width: 40%;
    min-width: 150px;
    /* margin-top: 10px; */
    margin: 10px;
}

h1 {
    text-align: center;
    font-size: calc(18px + 3vw);
}

.mainSec, .bottomSec {
    padding-top: 10px;
    border: 1px solid black;
}

.mainBody {
    height: 60%;
    border-top: 1px solid black;
}

.bottomSec {
    margin-bottom: 0;
    height: 20%;
    border-bottom: 0px;
}

#corey {
    font-size: calc(18px + 4vw);
    padding: 2%;
}

#about {
    padding: 5%;
}

#portfolio {
    padding-top: 10px;
}

.work img {
    float: left;
    object-fit: cover;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    opacity: 0.8;
    margin-bottom: 10px;
    margin-right: 5px;
}

.work h3 {
    display: inline;
    text-align: center;
    border-bottom: 0;
}

/* .work {
    height: 100%;
} */

@media (max-width:768px) {
    #about {
        padding: 0;
    }
}

@media (max-width:428px) {
    .mainBody {
        height: 75%;
    }
    .bottomSec {
        height: 25%;
    }
}